<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="~/css/admin.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<nav>
    <div class="userData">
        <h3 class="admin-title"><strong>Admin CleanUp Page</strong></h3>
        <a style="float:right;" href="/logout">
            <img class="icon" src="/images/logout.png" alt="logout">
        </a>
    </div>
</nav>

<div id="form-data">
    <p><strong>Title:&nbsp;</strong>@ViewBag.cleanup.Title</p>
    <p><strong>Desc of Area:&nbsp;</strong>@ViewBag.cleanup.DescriptionOfArea</p>
    <p><strong>Desc of Trash:&nbsp;</strong>@ViewBag.cleanup.DescriptionOfTrash</p>
    <p><strong>Value:&nbsp;</strong>@ViewBag.cleanup.Value</p>
    <p><strong>Max Cleaner:&nbsp;</strong>@ViewBag.cleanup.MaxCleaners</p>
    <p><strong>Address:&nbsp;</strong>@ViewBag.cleanup.Address</p>
    <p><strong>Username:&nbsp;</strong>@ViewBag.cleanup.User.UserName</p>
    @foreach(var image in @ViewBag.cleanup.Images)
    {
        <div>
            <a href="@image.FileName"><img class="admin-viewimg" src="@image.FileName" alt="Image Not Found"></a>
        </div>
    }
    @if(ViewBag.cleanup.Images.Count <= 5)
    {
        <div class="form-add">
            <form action="/approve/cleanup/@ViewBag.cleanup.CleanupId" method="Post">
                <p><strong>Max Cleaners:</strong></p>
                <input class="form-control" type="number" min="1" max="100" name="max">
                <p><strong>Value of Cleanup:</strong></p>
                <input class="form-control" type="number" min="10" max="100" name="value">
                <button id="approve" class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>
        <a href="/delete/cleanup/@ViewBag.cleanup.CleanupId">Delete Submission</a>
    }
    else
    {
        <a href="/close/cleanup/@ViewBag.cleanup.CleanupId">Close event/Accept Report</a>
        <a href="">Decline report</a>
    }
</div>
<div class="footer"></div>
