<head>
    <link rel="stylesheet" href="~/css/dashboard.css">
    <link rel="stylesheet" href="~/css/map.css">
    <script src="/lib/signalr/signalr.js"></script>
    <script src="~/js/worldchat.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
   <nav>
    <div class="userData">
    <span>@ViewBag.active.ProfilePic</span>
    <span id="username">@ViewBag.active.FirstName</span>
    <a style="float: right;" href="logout">Logout&nbsp;&nbsp;</a>
    <a style="float: right;" href="#">Name&nbsp;&nbsp;</a>
    <a style="float: right;" href="#">Score&nbsp;&nbsp;</a>
    <a style="float: right;" href="#">Message&nbsp;&nbsp;</a>
    </div>
   </nav>

    <!-- 
    profile pic - LINK TO PROFILE SETTINGS
    name
    score
    messages icon - LINK TO MESSAGES
    -->
    
 <div id="ghostContent" style="display: none">
    @for(int i = 0; i < ViewBag.markers.Count; i++){
        <div id="markerLng_@i">@ViewBag.markers[i].Longitude</div>
        <div id="markerLat_@i">@ViewBag.markers[i].Latitude</div>
        <div id="markerTitle_@i">@ViewBag.markers[i].Title</div>
        <div id="markerContent_@i">
            <div id="iw-container">
                <div class="iw-title"><a href="cleanup/@ViewBag.markers[i].CleanupId">@ViewBag.markers[i].Title</a></div>
                <div class="iw-content">
                    <div class="iw-subTitle"></div>
                    <img src="http://maps.marnoto.com/en/5wayscustomizeinfowindow/images/vistalegre.jpg" alt="Porcelain Factory of Vista Alegre" height="115" width="83">
                    <div class="iw-subTitle">Rewards: @ViewBag.markers[i].Value</div>
                    <p>@ViewBag.markers[i].Address</p>
                    <p>Where: @ViewBag.markers[i].DescriptionOfArea</p>
                    <p>What: @ViewBag.markers[i].DescriptionOfTrash</p>
                    <p>Creator:&nbsp<a href="/user/@ViewBag.markers[i].UserId">@ViewBag.markers[i].User.FirstName @ViewBag.markers[i].User.LastName</a></p>
                    <p style="display: inline-block">Attendees: @ViewBag.markers[i].CleaningUsers.Count/@ViewBag.markers[i].MaxCleaners</p>&nbsp;
                    @if(ViewBag.markers[i].CleaningUsers.Count < ViewBag.markers[i].MaxCleaners){
                        <a href="/join_event/@ViewBag.markers[i].CleanupId">Sign up</a>
                    }
                    <br>
                    <a href="/mboard/@ViewBag.markers[i].CleanupId">Message Board</a>
                    <br><br>
                </div>
                <div class="iw-bottom-gradient"></div>
            </div>
        </div>
    }

    <div id="Latitude">@ViewBag.Latitude</div>
    <div id="Longitude">@ViewBag.Longitude</div>
</div>
<div id="map"></div>

<footer>
    <button class="open-chat btn btn-success">World Live Chat</button>
    <div class="chat-window displayChat">
        <div class="messages">
            <form id="send-form" action="#">
                Send a message: 
                <input type="text" id="message-textbox" /> 
                <button class="send-btn btn btn-success" type="submit">Send</button>
            </form>
        </div>
    </div>
    <!-- 
    chat button
    new event BUTTON with tokens on it - LINK TO FORM TO CREATE THE EVENT
    sleaderboard
     -->
</footer>
     <div id="capture">
     <a href="#"><button id="capture" class="btn btn-success">Capture</button></a>
    </div>
<script src="~/js/map.js"></script>
<!-- cluster api -->
<script src="https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/src/markerclusterer.js"></script>
<!-- maps api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDTyblNr_Q6boR90WUWLlbhPVlc2u_6h8&callback=initMap" async defer></script> 
    


