<link rel="stylesheet" href="~/css/dashboard.css">
<link rel="stylesheet" href="~/css/map.css">
<script src="/lib/signalr/signalr.js"></script>
<script src="~/js/worldchat.js"></script>
<header>
    <p>@ViewBag.active.ProfilePic</p>
    <p id="username">@ViewBag.active.FirstName</p>
    <!-- 
    profile pic - LINK TO PROFILE SETTINGS
    name
    score
    messages icon - LINK TO MESSAGES
    -->
</header>

<div id="ghostContent" style="display: none">
    @for(int i = 0; i < ViewBag.markers.Count; i++){
        <div id="markerLng_@i">@ViewBag.markers[i]["lng"]</div>
        <div id="markerLat_@i">@ViewBag.markers[i]["lat"]</div>
        <div id="markerTitle_@i">@ViewBag.markers[i]["title"]</div>
        <div id="markerContent_@i">
            <div id="iw-container">
                <div class="iw-title">@ViewBag.markers[i]["title"]</div>
                <div class="iw-content">
                    <div class="iw-subTitle">History</div>
                    <img src="http://maps.marnoto.com/en/5wayscustomizeinfowindow/images/vistalegre.jpg" alt="Porcelain Factory of Vista Alegre" height="115" width="83">
                    <p>Founded in 1824, the Porcelain Factory of Vista Alegre was the first industrial unit dedicated to porcelain production in Portugal. For the foundation and success of this risky industrial development was crucial the spirit of persistence of its founder, José Ferreira Pinto Basto. Leading figure in Portuguese society of the nineteenth century farm owner, daring dealer, wisely incorporated the liberal ideas of the century, having become "the first example of free enterprise" in Portugal.</p>
                    <div class="iw-subTitle">Contacts</div>
                    <a href="@ViewBag.markers[i]["mboard"]">MESSAGE BOARD TEST</a>
                    <p>VISTA ALEGRE ATLANTIS, SA<br>3830-292 Ílhavo - Portugal<br>
                    <br>Phone. +351 234 320 600<br>e-mail: geral@vaa.pt<br>www: www.myvistaalegre.com</p>
                    <br>
                </div>
                <div class="iw-bottom-gradient"></div>
            </div>
        </div>
    }
</div>
<div id="map"></div>
 
<footer>
    <button class="open-chat">World Live Chat</button>
    <div class="chat-window displayChat">
        <div class="messages">
            <form id="send-form" action="#">
                Send a message: 
                <input type="text" id="message-textbox" /> 
                <button class="send-btn" type="submit">Send</button>
            </form>
        </div>
    </div>
    <!-- 
    chat button
    new event BUTTON with tokens on it - LINK TO FORM TO CREATE THE EVENT
    sleaderboard
     -->
</footer>
<script src="~/js/map.js"></script>
<!-- cluster api -->
<script src="https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/src/markerclusterer.js"></script>
<!-- maps api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDTyblNr_Q6boR90WUWLlbhPVlc2u_6h8&callback=initMap" async defer></script> 
    

