<head>
    <link rel="stylesheet" href="~/css/user.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>
<nav>
    <div class="userData">
        <span>
            <a href="/profile/@ViewBag.active.UserId">
                <img class="rounded-circle" id="profilepic" src="@ViewBag.active.ProfilePic" alt="">
            </a>
        </span>
        <span id="username">@ViewBag.active.FirstName</span>

        <ul class="nav-link">
            <li>
                <a href="logout">
                    <img class="icon" src="/images/logout.png" alt="logout">
                </a>
            </li>
            <li>
                <a href="dashboard">
                    <img class="icon" src="/images/dash.png" alt="dashboard">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="icon" src="/images/message.png" alt="message">3
                </a>
            </li>
            <li>
                <a href="#" class="score">155</a>
            </li>
        </ul>
    </div>
</nav>
<h1>Top 3 Scores: </h1>
<div>
    @for(int i = 0; i < @ViewBag.scorecount; i++){
        <div>
            <a href="/profile/@ViewBag.score[i].UserId"><img class="profile-pic" src="@ViewBag.score[i].ProfilePic" alt=""></a>
            <h3>@ViewBag.score[i].FirstName @ViewBag.score[i].LastName</h3>
            <h3>@ViewBag.score[i].UserName</h3>
            <h3>Score: @ViewBag.score[i].Score</h3>
        </div>
    }
</div>
<h1>Top 3 Tokens</h1>
<div>
    @for(int j = 0; j < @ViewBag.tokencount; j++){
        <div>
            <a href="/profile/@ViewBag.tokens[j].UserId"><img class="profile-pic" src="@ViewBag.tokens[j].ProfilePic" alt=""></a>
            <h3>@ViewBag.tokens[j].FirstName @ViewBag.tokens[j].LastName</h3>
            <h3>@ViewBag.tokens[j].UserName</h3>
            <h3>Tokens: @ViewBag.tokens[j].Token</h3>
        </div>
    }
</div>
<div class="footer"></div>