<link rel="stylesheet" href="~/css/mboard.css">
<script src="~/js/mboard.js"></script>

<header><h2>@ViewBag.cleanup.Title Message Board</h2><a href="/dashboard">Dashboard</a></header>

<div id="board">
    @foreach(var each in ViewBag.messages){
        <div class="post">
            <fieldset>
                <legend style="padding: 0.2em 0.3em "><i>@each.Sender.UserName wrote at @each.CreatedAt.ToString("hh:mm tt on MMM dd, yyyy")</i></legend>
                <img src=@each.Sender.ProfilePic width="50px" height="50px"><p>@each.Content</p>
            </fieldset>
        </div>
    }
</div>

<footer>
    <form action="/postboardmessage/@ViewBag.cleanup.CleanupId" method="post">
        <textarea name="content" cols="50" rows="2" placeholder="@ViewBag.error"></textarea>
        <button type="submit" class="btn btn-default">Post</button><a href="/sendboardmessage/@ViewBag.cleanup.CleanupId" class="btn btn-default">Refresh</a>
    </form>
</footer>