<head>
    <link rel="stylesheet" href="~/css/user.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>
<body>
    

<nav>
    <div class="userData">
        <span>
            <a href="/profile/@ViewBag.active.UserId">
                <img class="rounded-circle" id="profilepic" src="@ViewBag.active.ProfilePic" alt="">
            </a>
        </span>
        <span id="username">@ViewBag.active.FirstName</span>

        <ul class="nav-link">
            <li>
                <a href="logout">
                    <img class="icon" src="/images/logout.png" alt="logout">
                </a>
            </li>
            <li>
                <a href="dashboard">
                    <img class="icon" src="/images/dash.png" alt="dashboard">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="icon" src="/images/message.png" alt="message">3
                </a>
            </li>
            <li>
                <a href="#" class="score">155</a>
            </li>
        </ul>
    </div>
</nav>
<div class="user-data">

    <div class="profile-main">
        <img class="profile-pic" src="@ViewBag.active.ProfilePic" alt="">
        <h3 style="margin-left: 10px;" class="editInfo">@ViewBag.active.FirstName @ViewBag.active.LastName</h3>
        <h3 class="username"><strong>@ViewBag.active.UserName</strong></h3>
        @if(ViewBag.edit == true){
        <a href="/update/user/@ViewBag.active.UserId">
            <button class="edit-btn">Edit</button>
        </a>
        } else{
        <a href="/message">
            <button>Message</button>
        </a>
        <!-- add proper message route -->
        }
    </div>
    <div class="profile-details">
        <h3><strong>Score:</strong> @ViewBag.active.Score</h3>
        <h3><strong>Tokens:</strong> @ViewBag.active.Token</h3>
        <h3><strong>Attending:</strong> </h3>
        @if(@ViewBag.active.CleanupEvent != null){
        <div>
            <h4><a href="/cleanup/@ViewBag.active.CleanupEvent.CleanupId">@ViewBag.active.CleanupEvent.Title</a></h4>
            <p>Area: @ViewBag.active.CleanupEvent.DescriptionOfArea</p>
            <p>Description: @ViewBag.active.CleanupEvent.DescriptionOfTrash</p>
            <p>Adress: @ViewBag.active.CleanupEvent.Address</p>
            <p>Value: @ViewBag.active.CleanupEvent.Value</p>
        </div>
        } else{
        <p>None</p>
        }
        <h3><strong>Created:</strong> </h3>
        @if(@ViewBag.active.CreatedCleanups.Count > 0){
            @foreach(var each in @ViewBag.active.CreatedCleanups){
                <div>
                    <h1><a href="/cleanup/@each.CleanupId">@each.Title</a></h1>
                    <p>Area: @each.DescriptionOfArea</p>
                    <p>Description: @each.DescriptionOfTrash</p>
                    <p>Adress: @each.Address</p>
                    <p>Value: @each.Value</p>
                </div>
            }
        }
        else{
            <p>None</p>
        }
    </div>

</div>
<div class="footer">
</div>
</body>