    <link rel="stylesheet" href="~/css/user.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="~/js/inbox.js"></script>
    <script src="~/js/worldchat.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

<nav>
    <div class="userData">
        <span>
            <a href="/profile/@ViewBag.profile.UserId">
                <img class="rounded-circle" id="profilepic" src="@ViewBag.profile.ProfilePic" alt="">
            </a>
        </span>
        <span id="username">@ViewBag.profile.FirstName</span>

        <ul class="nav-link">
            <li>
                <a href="logout">
                    <img class="icon" src="/images/logout.png" alt="logout">
                </a>
            </li>
            <li>
                <a href="dashboard">
                    <img class="icon" src="/images/dash.png" alt="dashboard">
                </a>
            </li>
            <li>
            <div id="msg-btn">
                <img class="open-msg icon" src="/images/message.png" alt="messages">
                <div class="msg-window displayMsg">
                    <div class="msg-users"></div>
                    @foreach(var each in ViewBag.msgUsers){
                        <a href="/sendprivatemessage/@each.UserId">@each.FirstName</a>
                    } 
                    </div>
                </div>
            <span id="pend-messages" class="display-message">@ViewBag.unread</span>
            </li>
            <li>
                <a href="/leaderboard" class="score">@ViewBag.active.Score</a>
            </li>
        </ul>
    </div>
</nav>

<div class="user-data">

    <div class="profile-main">
        <img class="profile-pic" src="@ViewBag.profile.ProfilePic" alt="">
        <h3 style="margin-left: 10px;" class="editInfo">@ViewBag.profile.FirstName @ViewBag.profile.LastName</h3>
        <h3 class="username"><strong>@ViewBag.profile.UserName</strong></h3>
        @if(ViewBag.edit == true){
        <a href="/update/user/@ViewBag.profile.UserId">
            <button class="edit-btn">Edit</button>
        </a>
        } else{
        <a href="/sendprivatemessage/@ViewBag.profile.UserId">
            <button>Message</button>
        </a>
        <!-- add proper message route -->
        }
    </div>
    <div class="profile-details">
        <h3><strong>Score:</strong> @ViewBag.profile.Score</h3>
        <h3><strong>Tokens:</strong> @ViewBag.profile.Token</h3>
        <h3><strong>Attending:</strong> </h3>
        @if(@ViewBag.profile.CleanupEvent != null){
        <div>
            <h4><a href="/cleanup/@ViewBag.profile.CleanupEvent.CleanupId">@ViewBag.profile.CleanupEvent.Title</a></h4>
            <p>Area: @ViewBag.profile.CleanupEvent.DescriptionOfArea</p>
            <p>Description: @ViewBag.profile.CleanupEvent.DescriptionOfTrash</p>
            <p>Adress: @ViewBag.profile.CleanupEvent.Address</p>
            <p>Value: @ViewBag.profile.CleanupEvent.Value</p>
        </div>
        } else{
        <p>None</p>
        }
        <h3><strong>Created:</strong> </h3>
        @if(@ViewBag.profile.CreatedCleanups.Count > 0){
            @foreach(var each in @ViewBag.profile.CreatedCleanups){
                <div>
                    <h1><a href="/cleanup/@each.CleanupId">@each.Title</a></h1>
                    <p>Area: @each.DescriptionOfArea</p>
                    <p>Description: @each.DescriptionOfTrash</p>
                    <p>Adress: @each.Address</p>
                    <p>Value: @each.Value</p>
                </div>
            }
        }
        else{
            <p>None</p>
        }
    </div>
</div>
<div class="footer">
</div>
